<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!-- Styles -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/style.css}">

<!-- Google fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap"
	rel="stylesheet">

<script src="static/assets/js/jquery-3.1.1.min.js"
	th:src="@{/assets/js/jquery-3.1.1.min.js}"></script>

<!-- Ionic icons -->
<script src="https://kit.fontawesome.com/3778e44b4a.js"
	crossorigin="anonymous"></script>



<title>Actualización de Liga</title>
</head>

<body>
	<div class="d-flex" id="content-wrapper">

		<!-- Sidebar -->
		<div id="sidebar-container" class="bg-primary">
			<div class="logo">
				<h4 class="text-light font-weight-bold mb-0">Sistema de
					Basketball</h4>
			</div>
			<div class="menu" th:replace="principal::barra"></div>
		</div>
		<!-- Fin sidebar -->

		<div class="w-100">

			<!-- Navbar -->
			<nav
				class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<div class="container-inside">

					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<h1 th:if="${usuarioAct.codrol == 1}">Administrador:</h1>
						<h1 th:if="${usuarioAct.codrol == 2}">Entrenador:</h1>
						<h1 th:if="${usuarioAct.codrol == 3}">Federación:</h1>
						<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
							<li class="nav-item dropdown"><a
								class="nav-link text-dark dropdown-toggle" href="#"
								id="navbarDropdown" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"
								th:text="${usuarioAct.nombres +' ' + usuarioAct.apellidos}">
							</a>
								<div class="dropdown-menu dropdown-menu-right"
									aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="/logout">Cerrar sesión</a>
								</div></li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- Fin Navbar -->

			<!-- Page Content -->
			<div id="content" class="bg-grey w-100">

				<section class="bg-light py-3">
					<div class="container-inside">
						<div class="row">
							<div class="col-lg-9 col-md-8">
								<h1 class="font-weight-bold mb-0"
									th:text="${usuarioAct.nombres +' ' + usuarioAct.apellidos}">
									<i class="fa fa-user-o" aria-hidden="true"></i>
								</h1>
								<p class="lead text-muted" th:text="${usuarioAct.correo}"></p>
							</div>
							<div class="col-lg-2 col-md-4 d-flex">
								<a class="btn btn-primary w-100 align-self-center"
									href="/usuarios/perfilact">Editar mi Perfil</a>
							</div>
						</div>
					</div>
				</section>



				<section>
					<div class="container-inside">
						<div class="row">
							<div class="col-lg-12 my-3">
								<div class="card rounded-0">
									<div class="card-header bg-light">
										<h6 class="font-weight-bold mb-0">Actualización de Liga</h6>
									</div>
									<div class="card-body">
										<form action="/ligas/actualizado" method="post"
											th:object="${liga}">

											<div class="form-row">
												<div class="form-group col-md-9">
													<label>Nombre De La Liga</label> <input type="text"
														th:field="*{nomliga}" class="form-control">
												</div>
											</div>

											<div class="form-row">
												<div class="form-group col-md-3">
													<label>Departamento</label> <select id="id_departamento" required
														class="form-control">
														<option th:text="*{dep}"></option>
													</select> <input id="departamento" type="hidden" th:field="*{dep}"
																	 class="form-control">
												</div>

												<div class="form-group col-md-3">
													<label>Provincia</label> <select id="id_provincia" required
														class="form-control">
														<option th:text="*{pro}"></option>
													</select> <input id="provincia" type="hidden" th:field="*{pro}"
																	 class="form-control">
												</div>

												<div class="form-group col-md-3">
													<label>Distrito</label> <select id="id_distrito" required
														class="form-control">
														<option th:text="*{dis}"></option>
													</select> <input id="distrito" type="hidden" th:field="*{dis}"
														class="form-control">
												</div>
											</div>
											<div class="form-row">
												<div class="form-group col-md-3">
													<label>Estado</label> <select																								 th:field="*{codestado}" class="form-control">
													<option value="-1">Seleccione...</option>
													<option th:each="d : ${lstEstado}"
															th:value="${d.codestado}" th:text="${d.estado}"></option>
												</select>
												</div>
											</div>

											<input type="hidden" th:field="*{codliga}" class="form-control">
											<input type="hidden" th:field="*{codestado}" class="form-control">

											<button type="submit" class="btn btn-success">Guardar</button>
											<a href="/ligas/ligas" class="btn btn-primary">Volver</a>
										</form>
										<br>
										<div>
											<strong th:text="${mensaje}"></strong>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</section>

			</div>

		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script type="text/javascript">

		document.getElementById("departamento").value=$('#id_departamento').val();
		document.getElementById("provincia").value=$('#id_provincia').val();
		document.getElementById("distrito").value=$('#id_distrito').val();
	
	$.getJSON("listaDepartamentos",{},function (data) {
		console.log(data);
		$.each(data, function (i, obj){
			$("#id_departamento").append("<option value='" + obj + "'>" + obj + "</option>");
		});
	});

	$('#id_departamento').change( function () {

		console.log("Cambio Departamento");


		$("#id_provincia").empty();
		$("#id_distrito").empty();

		$("#id_provincia").append("<option value=' '>[Seleccione Provincia]</option>");
		$("#id_distrito").append("<option value=' '>[Seleccione Distrito]</option>");

		var var_dep = $('#id_departamento').val();
		var var_pro = $('#id_provincia').val();

		console.log(var_dep);
		$.getJSON("listaProvincias",{"dpto": var_dep}, (data) =>  {
			console.log("provincias: " + data);
			$.each(data, function (i, obj){
				$("#id_provincia").append("<option value='" + obj + "'>" + obj + "</option>");
			});
		});

	});



	$('#id_provincia').change(function (){

		$("#id_distrito").empty();

		$("#id_distrito").append("<option value=' '>[Seleccione Distrito]</option>");

		var var_dep = $('#id_departamento').val();
		var var_pro = $('#id_provincia').val();
		var var_dis = $('#id_distrito').val();

		console.log("Provincia: " + var_pro);

		$.getJSON("listaDistritos",{"prov":var_pro},function (data) {
			$.each(data, function (i, obj){
				$("#id_distrito").append("<option value='" + obj + "'>" + obj + "</option>");
			});
		});
	});
		


		$.getJSON("listaDepartamentos",{},function (data) {
			console.log(data);
			$.each(data, function (i, obj){
				$("#id_departamento").append("<option value='" + obj + "'>" + obj + "</option>");
			});
		});

		$('#id_departamento').change( function () {

			console.log("Cambio Departamento");


			$("#id_provincia").empty();
			$("#id_distrito").empty();

			$("#id_provincia").append("<option value=' '>[Seleccione Provincia]</option>");
			$("#id_distrito").append("<option value=' '>[Seleccione Distrito]</option>");

			var var_dep = $('#id_departamento').val();
			var var_pro = $('#id_provincia').val();

			console.log(var_dep);
			$.getJSON("listaProvincias",{"dpto": var_dep}, (data) =>  {
				console.log("provincias: " + data);
				$.each(data, function (i, obj){
					$("#id_provincia").append("<option value='" + obj + "'>" + obj + "</option>");
				});
			});

		});



		$('#id_provincia').change(function (){

			$("#id_distrito").empty();

			$("#id_distrito").append("<option value=' '>[Seleccione Distrito]</option>");

			var var_dep = $('#id_departamento').val();
			var var_pro = $('#id_provincia').val();
			var var_dis = $('#id_distrito').val();

			console.log("Provincia: " + var_pro);

			$.getJSON("listaDistritos",{"prov":var_pro},function (data) {
				$.each(data, function (i, obj){
					$("#id_distrito").append("<option value='" + obj + "'>" + obj + "</option>");
				});
			});
		});

		$('#id_distrito').change(function (){

			var var_dep = $('#id_departamento').val();
			var var_pro = $('#id_provincia').val();
			var var_dis = $('#id_distrito').val();

			document.getElementById("departamento").value=var_dep;
			document.getElementById("provincia").value=var_pro;
			document.getElementById("distrito").value=var_dis;
		});

	</script>

</body>

</html>