<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!-- Styles -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/style.css}">

<!-- Google fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap"
	rel="stylesheet">

<!-- Ionic icons -->
<script src="https://kit.fontawesome.com/3778e44b4a.js"
	crossorigin="anonymous"></script>

<title>Control</title>
</head>

<body>
	<div class="d-flex" id="content-wrapper">

		<!-- Sidebar -->
		<div id="sidebar-container" class="bg-primary">
			<div class="logo">
				<h4 class="text-light font-weight-bold mb-0">Sistema de
					Basketball</h4>
			</div>
			<div class="menu" th:replace="principal::barra"></div>
		</div>
		<!-- Fin sidebar -->

		<div class="w-100">

			<!-- Navbar -->
			<nav
				class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<div class="container-inside">

					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<h1 th:if="${usuarioAct.codrol == 1}">Administrador:</h1>
						<h1 th:if="${usuarioAct.codrol == 2}">Entrenador:</h1>
						<h1 th:if="${usuarioAct.codrol == 3}">Federación:</h1>
						<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
							<li class="nav-item dropdown"><a
								class="nav-link text-dark dropdown-toggle" href="#"
								id="navbarDropdown" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"
								th:text="${usuarioAct.nombres +' ' + usuarioAct.apellidos}">
							</a>
								<div class="dropdown-menu dropdown-menu-right"
									aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="/logout">Cerrar sesión</a>
								</div></li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- Fin Navbar -->

			<!-- Page Content -->
			<div id="content" class="bg-grey w-100">

				<section class="bg-light py-3">
					<div class="container-inside">
						<div class="row">
							<div class="col-lg-9 col-md-8">
								<h1 class="font-weight-bold mb-0"
									th:text="${usuarioAct.nombres +' ' + usuarioAct.apellidos}">
									<i class="fa fa-user-o" aria-hidden="true"></i>
								</h1>
								<p class="lead text-muted" th:text="${usuarioAct.correo}"></p>
							</div>
							<div class="col-lg-2 col-md-4 d-flex">
								<a class="btn btn-primary w-100 align-self-center"
									href="/usuarios/perfilact">Editar mi Perfil</a>
							</div>
						</div>
					</div>
				</section>

				<section>
					<div class="container-inside">
						<div class="row">
							<div class="col-lg-12 my-3">
								<div class="card rounded-0">
									<div class="card-header bg-light">
										<h5 class="font-weight-bold mb-0">Control de Pagos</h5>
										<input style="margin-left: 80%" type="search" placeholder="Buscar" id="searchBox" >
									</div>
									<div class="card-body">
										<section>
											<div class="form-row">
												<br>
												<table class="table" id="table">
													<thead>
													<tr>
														<th>Código</th>
														<th>Nombres</th>
														<th>Apellidos</th>
														<th>Teléfono</th>
														<th>Fecha de Inicio</th>
														<th>Estado</th>
														<th>Balance</th>
														<th>Acciones</th>
														<th></th>
														<th></th>
													</tr>
													</thead>
													<tbody>
													<tr th:each="u : ${lstControl}">
														<td th:text="${u.usuario}"></td>
														<td th:text="${u.usucontrol.nombres}"></td>
														<td th:text="${u.usucontrol.apellidos}"></td>
														<td th:text="${u.usucontrol.telefono}"></td>
														<td th:text="${u.fecini}"></td>
														<td th:text="${u.usucontrol.estado.estado}"></td>
														<td style="color: red" th:if="${u.meses > 0}"  th:text="'Debe Pagar ' + ${u.meses} + ' cuotas'"></td>
														<td	th:if="${u.meses == 0}">No Presenta deudas</td>
														<td>
															<form action="/control/pagar" method="post">
																<input type="hidden" name="usuario"
																	   th:value="${u.usuario}">
																<button onclick="return alerta()" type="submit"
																		class="btn btn-primary">Pagar</button>
															</form>
														</td>
														<td>
															<form action="/control/eliminar" method="post">
																<input type="hidden" name="usuario"
																	   th:value="${u.usuario}">
																<button onclick="return alerta()" type="submit"
																		class="btn btn-danger">Suspender</button>
															</form>
														</td>
													</tr>
													</tbody>

												</table>
												<div>
													<strong th:text="${mensaje}"></strong>
												</div>
                                                <div id="paginador" class=""></div>
											</div>
										</section>

									</div>
								</div>
							</div>

						</div>
					</div>
				</section>

			</div>

		</div>
	</div>
    <script src="../assets/js/page.js"></script>
	<script>
		var searchBox = document.getElementById('searchBox');
		searchBox.addEventListener('keyup',function (){
			var keyword = this.value;
			keyword = keyword.toUpperCase();
			var table = document.getElementById('table');
			var all_tr = table.getElementsByTagName('tr');
			for (var i=0; i<all_tr.length;i++){
				var all_columns = all_tr[i].getElementsByTagName('td');
				for (var j=0; j<all_columns.length;j++){
					if (all_columns[j]){
						var column_value = all_columns[j].innerText || all_columns[j].textContent;
						column_value = column_value.toUpperCase();
						if (column_value.indexOf(keyword) > -1){
							all_tr[i].style.display = '';
							break;
						}else{
							all_tr[i].style.display = 'none';
						}
					}
				}
			}
		})
	</script>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"
		integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI="
		crossorigin="anonymous"></script>

</body>

</html>