<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!-- Styles -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/style.css}">

<!-- Google fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap"
	rel="stylesheet">

<!-- Ionic icons -->
<script src="https://kit.fontawesome.com/3808e44b4a.js"
	crossorigin="anonymous"></script>

<title>Registro de Partido</title>
</head>

<body>
	<div class="d-flex" id="content-wrapper">

		<!-- Sidebar -->
		<div id="sidebar-container" class="bg-primary">
			<div class="logo">
				<h4 class="text-light font-weight-bold mb-0">Sistema de
					Basketball</h4>
			</div>
			<div class="menu" th:replace="principal::barra"></div>
		</div>
		<!-- Fin sidebar -->

		<div class="w-100">

			<!-- Navbar -->
			<nav
				class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<div class="container-inside">

					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<h1 th:if="${usuarioAct.codrol == 1}">Administrador:</h1>
						<h1 th:if="${usuarioAct.codrol == 2}">Entrenador:</h1>
						<h1 th:if="${usuarioAct.codrol == 3}">Federación:</h1>
						<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
							<li class="nav-item dropdown"><a
								class="nav-link text-dark dropdown-toggle" href="#"
								id="navbarDropdown" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"
								th:text="${usuarioAct.nombres +' ' + usuarioAct.apellidos}">
							</a>
								<div class="dropdown-menu dropdown-menu-right"
									aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="/logout">Cerrar sesión</a>
								</div></li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- Fin Navbar -->

			<!-- Page Content -->
			<div id="content" class="bg-grey w-100">

				<section class="bg-light py-3">
					<div class="container-inside">
						<div class="row">
							<div class="col-lg-9 col-md-8">
								<h1 class="font-weight-bold mb-0"
									th:text="${usuarioAct.nombres +' ' + usuarioAct.apellidos}">
									<i class="fa fa-user-o" aria-hidden="true"></i>
								</h1>
								<p class="lead text-muted" th:text="${usuarioAct.correo}"></p>
							</div>
							<div class="col-lg-2 col-md-4 d-flex">
								<a class="btn btn-primary w-100 align-self-center"
									href="/usuarios/perfilact">Editar mi Perfil</a>
							</div>
						</div>
					</div>
				</section>



				<section>
					<div class="container-inside">
						<div class="row">
							<div class="col-lg-12 my-3">
								<div class="card rounded-0">
									<div class="card-header bg-light">
										<h6 th:text="'Registro de datos de ' + ${equipo.nomequipo} + ' del partido contra ' + ${partido.equiporival}" class="font-weight-bold mb-0"></h6>
									</div>
									<div class="card-body">
										<div>
											<h6>Datos del Partido</h6>
										</div>
										<h6>Equipo</h6>
										<div class="form-row">
											<div style="width: 9%;">
												<label>Nombre</label>
											</div>
											<div style="width: 9%;">
												<label>Apellido</label>
											</div>
											<div style="width: 5%;">
												<label>T2I</label>
											</div>
											<div style="width: 5%;">
												<label>T2C</label>
											</div>
											<div style="width: 5%;">
												<label>T3I</label>
											</div>
											<div style="width: 5%;">
												<label>T3C</label>
											</div>
											<div style="width: 5%;">
												<label>T1I</label>
											</div>
											<div style="width: 5%;">
												<label>T1C</label>
											</div>
											<div style="width: 5%;">
												<label>RO</label>
											</div>
											<div style="width: 5%;">
												<label>RD</label>
											</div>
											<div style="width: 5%;">
												<label>Asist</label>
											</div>
											<div style="width: 5%;">
												<label>Recup</label>
											</div>
											<div style="width: 5%;">
												<label>Perd</label>
											</div>
											<div style="width: 5%;">
												<label>TapFav</label>
											</div>
											<div style="width: 5%;">
												<label>TapCon</label>
											</div>
											<div style="width: 5%;">
											<label>Falt Fav</label>
											</div>
											<div style="width: 5%;">
												<label>Falt Con</label>
											</div>
											<div style="width: 7%;">
												<label>Tiempo</label>
											</div>
										</div>
										<form action="/partido/datosGrabar" method="post" th:each="d : ${datos}">
											<div class="form-row">
												<div class="form-group col-md-1">
													<input th:value="*{d.jugador.nomjug}" class="form-control">
												</div>
												<div class="form-group col-md-1">
													<input th:value="*{d.jugador.apejug}" class="form-control">
												</div>
												<div style="max-width: 79px;">
													<input th:value="*{d.idobles}" type="number" class="form-control">
												</div>
												<div style="max-width: 79px;">
													<input th:value="*{d.cdobles}" type="number" class="form-control" >
												</div>
												<div style="max-width: 79px;">
													<input th:value="*{d.itriples}" type="number" class="form-control">
												</div>
												<div style="max-width: 79px;">
													<input th:value="*{d.ctriples}" type="number" class="form-control">
												</div>
												<div style="max-width: 79px;">
													<input th:value="*{d.ilibres}" type="number" class="form-control">
												</div>
												<div style="max-width: 79px;">
													<input th:value="*{d.clibres}" type="number" class="form-control">
												</div>
												<div style="max-width: 79px;">
													<input th:value="*{d.rebofe}" type="number" class="form-control">
												</div>
												<div style="max-width: 79px;">
													<input th:value="*{d.rebdef}" type="number" class="form-control">
												</div>
												<div style="max-width: 79px;">
													<input th:value="*{d.asist}" type="number" class="form-control">
												</div>
												<div style="max-width: 79px;">
													<input th:value="*{d.recup}" type="number" class="form-control">
												</div>
												<div style="max-width: 79px;">
													<input th:value="*{d.perd}" type="number" class="form-control">
												</div>
												<div style="max-width: 79px;">
													<input th:value="*{d.tapfav}" type="number" class="form-control">
												</div>
												<div style="max-width: 79px;">
													<input th:value="*{d.tapcont}" type="number" class="form-control">
												</div>
												<div style="max-width: 79px;">
													<input th:value="*{d.faltdadas}" type="number" class="form-control">
												</div>
												<div style="max-width: 79px;">
													<input th:value="*{d.faltasrec}" type="number" class="form-control">
												</div>
												<div style="max-width: 110px;">
													<input th:value="*{d.tiempo}" type="time" class="form-control">
												</div>
											</div>
										</form>
										<button type="submit" class="btn btn-success">Registrar</button>
										<a href="/partido/listado" class="btn btn-primary">Volver</a>
										<br>
										<div>
											<strong th:text="${mensaje}"></strong>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</section>

			</div>

		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"
		integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI="
		crossorigin="anonymous"></script>
	<script>
		var ctx = document.getElementById('myChart').getContext('2d');
		var myChart = new Chart(ctx, {
			type : 'bar',
			data : {
				labels : [ 'Feb 2020', 'Mar 2020', 'Abr 2020', 'May 2020' ],
				datasets : [ {
					label : 'Nuevos usuarios',
					data : [ 50, 100, 150, 200 ],
					backgroundColor : [ '#12C9E5', '#12C9E5', '#12C9E5',
							'#111B54' ],
					maxBarThickness : 30,
					maxBarLength : 2
				} ]
			},
			options : {
				scales : {
					yAxes : [ {
						ticks : {
							beginAtZero : true
						}
					} ]
				}
			}
		});
	</script>
</body>

</html>